<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.todoMaster.user.mapper.UserMapper">

	<!-- 이메일 중복 카운트 -->
    <select id="countByEmail" resultType="int">
        SELECT COUNT(*)
        FROM USER_INFO
        WHERE EMAIL = #{email}
    </select>

	<!-- provider + providerId 로 기존 회원 조회 -->
	<select id="findByProvider" resultType="com.todoMaster.user.vo.UserInfoVO">
		SELECT *
		FROM USER_INFO
		WHERE PROVIDER = #{provider}
		AND PROVIDER_ID = #{providerId}
	</select>

	<!-- 회원 삽입 (USER_ID는 SEQ로 처리) -->
    <insert id="insertUser" parameterType="com.todoMaster.user.vo.UserInfoVO">
		<selectKey keyProperty="userId" resultType="Long" order="BEFORE">
		    SELECT SEQ_USER_ID.NEXTVAL FROM DUAL
		</selectKey>
		
        INSERT INTO USER_INFO (
            USER_ID, EMAIL, PASSWORD, NICKNAME,
            PROFILE_IMG, PROFILE_IMAGE_STATUS,
            IS_VERIFIED, PROVIDER, PROVIDER_ID,
            SALT ,REFRESH_TOKEN, CREATED_AT
        )
        VALUES (
            #{userId},
            #{email},
            #{password},
            #{nickname},
            #{profileImg},
            #{profileImageStatus},
            #{isVerified},
            #{provider},
            #{providerId},
            #{salt},
            #{refreshToken},
            SYSDATE
        )
    </insert>
    
    <!-- 인증 필요한 계정 찾기 -->
    <select id="selectUnverifiedUser" resultType="com.todoMaster.user.vo.UserInfoVO">
    	SELECT *
        FROM USER_INFO
        WHERE USER_ID = #{userId}
        AND EMAIL = #{email}
        AND IS_VERIFIED = 'UNVERIFIED'
    </select>
    
    <!-- 계정 활성화 -->
    <update id="accountActivation">
    	UPDATE 
    	USER_INFO 
    	SET IS_VERIFIED = 'VERIFIED',
    	UPDATED_AT = SYSDATE
    	WHERE USER_ID = ${userId}
    </update>


	<!-- 이메일로 인증된 유저 조회 -->
    <select id="selectVerifiedUser" resultType="com.todoMaster.user.vo.UserInfoVO">
        SELECT *
        FROM USER_INFO
        WHERE EMAIL = #{email} AND IS_VERIFIED = 'VERIFIED'
    </select>
    
    <!-- 이메일로 조회-->
    <select id="selectUser" resultType="com.todoMaster.user.vo.UserInfoVO">
        SELECT *
        FROM USER_INFO
        WHERE EMAIL = #{email}
    </select>

	<!-- 아이디로 조회 -->
    <select id="findById" resultType="com.todoMaster.user.vo.UserInfoVO" parameterType="long">
        SELECT *
        FROM USER_INFO
        WHERE USER_ID = #{userId}
    </select>

	<!-- 리프레시 토큰 업데이트 (로그인 유지/로그아웃) -->
    <update id="updateRefreshToken">
        UPDATE USER_INFO
        SET SALT = #{salt},
        	REFRESH_TOKEN = #{token},
            UPDATED_AT = SYSDATE
        WHERE USER_ID = #{userId}
    </update>

	<!-- 회원 정보 수정 -->
    <update id="updateUserInfo">
		UPDATE USER_INFO
		SET
		NICKNAME = #{request.nickname},
		PROFILE_IMG = #{request.profileImg},
		UPDATED_AT = SYSDATE
		WHERE USER_ID = #{userId}
	</update>
	
	<!-- 회원 이메일 수정 -->
    <update id="updateEmail">
		UPDATE USER_INFO
		SET
		EMAIL = #{email},
		UPDATED_AT = SYSDATE
		WHERE USER_ID = #{userId}
	</update>

	<!-- 비밀번호 수정 -->
	<update id="updatePassword">
		UPDATE USER_INFO
		SET PASSWORD = #{password},
		<!-- 자동 로그아웃을 위해 REFRESH_TOKEN 초기화 -->
		REFRESH_TOKEN = NULL,
		UPDATED_AT = SYSDATE
		WHERE USER_ID = #{userId}
	</update>

	<!-- 프로필 이미지 수정 -->
	<update id="updateProfileImage">
		UPDATE USER_INFO
		SET PROFILE_IMG = #{profileImg},
		 	PROFILE_IMAGE_STATUS = #{profileImageStatus},
		UPDATED_AT = SYSDATE
		WHERE USER_ID = #{userId}
	</update>
	
	<!-- 프로필 이미지 상태 수정 -->
	<update id="updateProfileImageStatus">
		UPDATE USER_INFO
		SET PROFILE_IMAGE_STATUS = #{profileImageStatus},
		UPDATED_AT = SYSDATE
		WHERE USER_ID = #{userId}
	</update>

	<!-- 회원 탈퇴 -->
	<delete id="deleteUser">
		DELETE FROM USER_INFO
		WHERE USER_ID = #{userId}
	</delete>

</mapper>
