server:
  port: 15554

spring:
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.todoMarster
  configuration:
    map-underscore-to-camel-case: true
    jdbc-type-for-null: 'NULL'
